.App {
  text-align: center;
}
#content {
  margin-top: 55.3px;
  padding: 20px 0;
  overflow-y: scroll;
  height: 95vh;
}
body {
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  top: 0;
  background-color: #fff;
  position: absolute;
  z-index: 9999999999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
